@font-face {
  font-family: SourceCodePro;
  font-weight: 200;
  src: url("../assets/fonts/SourceCodePro-ExtraLight.ttf");
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 300;
  src: url("../assets/fonts/SourceCodePro-Light.ttf");
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 400;
  src: url("../assets/fonts/SourceCodePro-Regular.ttf");
}

@font-face {
  font-family: SourceCodePro;
  font-weight: 500;
  src: url("../assets/fonts/SourceCodePro-Medium.ttf");
}

@font-face {
  font-family: SourceCodePro;
  font-weight: 600;
  src: url("../assets/fonts/SourceCodePro-SemiBold.ttf");
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 700;
  src: url("../assets/fonts/SourceCodePro-Bold.ttf");
}
@font-face {
  font-family: SourceCodePro;
  font-weight: 900;
  src: url("../assets/fonts/SourceCodePro-Black.ttf");
}
